@import 'https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #f6f8fb;
}

body {
  margin: 0;
  min-width: 320px;
  background: #f6f8fb;
  font-family: theme('fontFamily.sans');
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
textarea,
input {
  font: inherit;
}
